@charset "utf-8";
@import "reset.css";

/* header구역, footer구역 등 기타 공통구역에 대한 스타일 */
.row{max-width:1300px; margin:0 auto;}

#header{height:auto;}
#header .header_box{padding:5px 15px 0;}
#header .topmenu>button{border:1px solid #ccc; background-color:rgba(255, 255, 255, 0.6); color:#333; padding:6px 12px;}

.topmenu .right{float:right;}
.topmenu a{height:30px; font-size:12.25px;}

.topmenu .topmenu_sns{float:left; padding:5px 15px;}
.topmenu .topmenu_sns>a{width:25px; height:25px; line-height:25px; background-color:#ccc; border-radius:50%; text-align:center; display: inline-block; padding-top:0.5px;}
.topmenu .topmenu_sns i{font-size:14px; color:#fff;}
.topmenu .topmenu_sns>a:nth-child(1):hover{background:#4d78d3; transform: rotate(35deg); transition:all 0.5s;}
.topmenu .topmenu_sns>a:nth-child(2):hover{background:#14aef1; transform: rotate(35deg); transition:all 0.5s;}
.topmenu .topmenu_sns>a:nth-child(3):hover{background:#f543a5; transform: rotate(35deg); transition:all 0.5s;}
.topmenu .topmenu_sns>a:nth-child(4):hover{background:#f9b72b; transform: rotate(35deg); transition:all 0.5s;}

.topmenu .topmenu_user{padding:5px 0 0; float:left;}
.topmenu .topmenu_user>a{padding:6px 12px; border:1px solid #ccc;}
.topmenu .topmenu_user>a:nth-child(1), 
.topmenu .topmenu_user>a:nth-child(2){width:60px; background:rgba(255, 255, 255, 0.6); color:#555;}
.topmenu .topmenu_user>a:nth-child(3){width:120px; background:rgba(155, 155, 155, 0.6); color:#fff;}

/* #header .logo_nav{font-weight:bold;} */
#header .logo_nav{position:relative; height:80px; margin-top:10px;}
#header .logo_nav .logo{font-size:30px; font-weight:bold; letter-spacing:-1px;}
#header .logo_nav .logo>h1>a{color:#b7480a; line-height:80px;}
#header .logo_nav .logo>h1>a>span{color:#444;}

.logo_nav .nav{position:absolute; top:0; right:0;}
.logo_nav .nav>.depth1>li{display:inline-block; position:relative;}
.logo_nav .nav>.depth1>li>a{background:#fff; color:#b7480a; font-size:14px; font-weight:bold; padding:31px 40px 30.5px; display:block; }
.logo_nav .nav>.depth1>li:hover>a{background:#b7480a; color:#fff;}

.depth2{position:absolute; top:100%; left:0; width:100%; display:none; z-index: 99999;}
.depth1>li:hover .depth2{display:block; background:#fff; color:#555; text-align:center; }
.depth2>li{padding:15px 10px; border-top:1px solid #eee;}
.depth2>li>a{color:#555; font-size:12.25px; }
.depth2>li:first-child{border:none;}
.depth2 li:hover{background:#eee;}
.depth2 li:hover a{color:#b7480a;}
