@charset "utf-8";
@import "reset.css";
@import "common.css";

/* 공통구역을 제외한 메인페이지 스타일 */

#header{height:auto;}
#header .header_box{padding:5px 15px 0;}
#header .topmenu>button{border:1px solid #ccc; background-color:rgba(255, 255, 255, 0.6); color:#333; padding:6px 12px;}

#header .topmenu .right{float:right;}
#header .topmenu a{height:30px; font-size:12.25px;}

#header .topmenu .topmenu_sns{float:left; padding:5px 15px;}
#header .topmenu .topmenu_sns>a{width:25px; height:25px; line-height:25px; background-color:#ccc; border-radius:50%; text-align:center; display: inline-block;}
#header .topmenu .topmenu_sns i{font-size:14px; color:#fff;}
#header .topmenu .topmenu_sns>a:nth-child(1):hover{background:#4d78d3; transform: rotate(35deg); transition:all 0.5s;}
#header .topmenu .topmenu_sns>a:nth-child(2):hover{background:#14aef1; transform: rotate(35deg); transition:all 0.5s;}
#header .topmenu .topmenu_sns>a:nth-child(3):hover{background:#f543a5; transform: rotate(35deg); transition:all 0.5s;}
#header .topmenu .topmenu_sns>a:nth-child(4):hover{background:#f9b72b; transform: rotate(35deg); transition:all 0.5s;}

#header .topmenu .topmenu_user{padding:5px 0 0; float:left;}
#header .topmenu .topmenu_user>a{padding:6px 12px; border:1px solid #ccc;}
#header .topmenu .topmenu_user>a:nth-child(1), 
#header .topmenu .topmenu_user>a:nth-child(2){width:60px; background:rgba(255, 255, 255, 0.6); color:#555;}
#header .topmenu .topmenu_user>a:nth-child(3){width:120px; background:rgba(155, 155, 155, 0.6); color:#fff;}

#header .logo_nav{position:relative; height:80px; margin-top:10px;}
#header .logo_nav .logo{font-size:30px; font-weight:bold; letter-spacing:-1px;}
#header .logo_nav .logo>h1{color:#b7480a; line-height:80px;}
#header .logo_nav .logo>h1>span{color:#444;}

#header .logo_nav .nav{position:absolute; bottom:0; right:0;}
#header .logo_nav .nav>ul>li{display:inline-block;}
#header .logo_nav .nav>ul>li>a{background:#fff; color:#b7480a; font-size:14px; font-weight:bold; padding:25px 40px; display:inline-block;}
#header .logo_nav .nav>ul>li>a:hover{background:#b7480a; color:#fff;}
/* #header .logo_nav .nav>ul>li>a>.depth2{display:none;} */
/* #header .logo_nav .nav>ul>li>a:hover .depth2{display:block;} */
.depth2{display:none;}
.depth1>li:hover .depth2{display:block; position:absolute; bottom:0; background:#fff; color:#555;}
.depth2>a:hover{color:#b7480a;}




#section>img{background-size:cover; width:100%;}
